.App {
  margin: 20px auto;
  width: 1000px;
  height: 700px;
  border: 4px solid black;
}

.Header {
  padding: 0px;
  background-color: darkslateblue;
  color: white;
  border-bottom: 4px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
}

.Header h1 {
  width: 500px;
  text-align: center;
}

.Header div {
  width: 250px;
  text-align: right;
}

.Header button {
  margin-right: 25px;
}

.Body {
  background-color: lightyellow;
  color: black;
  height: 646px;
}

#ClassListBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.ClassListDetailContainer {
  width: 800px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  color: black;
  border: 4px solid black;
  border-radius: 20px;
  display: flex;
}

.ClassListDetailContents {
  text-align: center;
  width: 100%
}

.ClassListDetailContents h3 {
  margin-top: 5px;
}

.ClassListDetailContents h4 {
  margin-top: 10px;
  margin-bottom: 15px;
}

.ClassListDetailContents h5 {
  margin: 10px;
}

.ClassListDetailButtons {
  display: flex;
  justify-content: space-evenly;
}

#DetailBody {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start
}

#DetailLeft {
  text-align: center;
  margin-top: 20px;
}

#DetailRight {
  background-color: white;
  border: 4px solid black;
  width: 300px;
  margin-top: 20px
}

#DetailRight h2 {
  margin-top: 0px;
}

#DetailRight table {
  margin: 5px auto;
  width: 75%;
}

.AddLeft {
  float: left;
  width: 40%;
  margin-top: 20px;
  margin-left: 30px;
}

.AddRight {
  float: right;
  width: 40%;
  margin-top: 20px;
}

.AddRow {
  margin-bottom: 30px;
}

.NormalButton {
  padding: 5px 20px;
  background-color: royalblue;
  color: white;
}

.DeleteButton {
  margin-left: 10px;
  padding: 5px 20px;
  background-color: #CF2A27;
  color: white;
}

.BoldActionButton {
  padding: 5px 20px;
  background-color: blue;
  color: white;
  font-weight: bold;
}

.Error {
  color: red;
  font-weight: bold;
}

.ClassListDetailImage {
  width: 100px;
  height: 100px
}

#DetailImage {
  width: 300px;
  border: 4px solid black;
}

#HomePageContent {
  text-align: center;
}

#HomePageContent img {
  margin-top: 100px;
  border-radius: 20px;
}